<img src="../../../assets/frontend-vs-backend-web-development.jpg" alt="" class="prog">

<p>While the front end uses scripting and markup languages, it does not run programming languages. The back end, typically incorporates 
    a programming languges with a web framwork. The web framwork provides an API to create routes, which are linked to a function. The function 
    will typically make a database operation, manipulate that data and return it. The returned data could be a username or password, or a product name, description and price. 
    The back end runs on a server. Your web browser will make requests to this server, for the validation and retrieval of data. This is what makes website dynamic, where they can 
    change over time depending on the data that is passed to the front end. 
</p>
