
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Value</th>
        <th scope="col">Additional</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Education</td>
        <td>BSc Software Development</td>
        <td>3.5 years</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Name</td>
        <td>Adam Howard</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>DOB</td>
        <td>12/06/1996</td>
        <td>23 years old</td>
      </tr>
    </tbody>
  </table>

  <h4>Hometown</h4>
  <p>Fermoy is a small town of population apporximately 6000. I grew up there for 20 odd years and went to secondary school.</p>
  <h4>Secondary Education</h4>
  <p>Colaiste an Chraoibhin is a public school of about 700 students. Throughout my time studying there I completed a Junior Certificate, with my main subjects being Maths and Science. I got an A in maths. In my Leaving Ceritificate, I got 415 points with my best subjects
      being Higher Level Maths, Physics and Economics. I obtained a grade B in all 3. Other subjects I completed were English, German, Art History and Irish.
  </p>
  <h4>Deutsch</h4>
  <p>Ich spreche Deutsch gern und ich möchte mein Sprache verbessern. Ich komme aus Irland. Schön, dich kennenzulernen. Wie geht es dir? 
    Mein Deutschniveau ist mittelschwer. Ich werde nach Deutschland fahren. Ich will Hamburg, München und Düsseldorf zu reisen.;</p>