<nav class="navbar navbar-expand-lg nb navbar-dark">
  <a class="navbar-brand" href="#">Adam Howard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" >About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Software Engineering
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                
                <ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">Programming Languages</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/programming">C++</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/programming">Python</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"routerLink="/programming">Java</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/programming">Go</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/programming">C#</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">Work Experience</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/experience">Mup Web Design</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/experience">Voxpro (Google)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/experience">Intel (McAfee)</a>
                </li>
               
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
				<ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">IDE's</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/ides">Sublime Text</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/ides">VS Code</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/ides">Visual Studio 2019</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/ides">Eclipse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/ides">PyCharm</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>


     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Web Development
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                
                <ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">JavaScript Frameworks</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/js">Angular</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/js">React</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/js">Vue</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/js">Ember</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/js">jQuery</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">Front End</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/frontend">Bootstrap</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/frontend">Material</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/frontend">Polymer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/frontend">Material-UI</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/frontend">Semantic-UI</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
				<ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">Back End</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/backend">Django</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/backend">Spring</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/backend">Flask</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/backend">Express</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/backend">Laravel</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->
          <!--  /.container  -->
          <!--  /.container  -->


        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Machine Learning
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                
                <ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">Tensorflow</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/tensorflow">ML</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/tensorflow">AI</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/tensorflow">Deep Learning</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/tensorflow">Reinforcement Learning</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/tensorflow">Keras Neural Networks</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">Algorithms</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/algorithms">Nearest Neigbours</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/algorithms">Simulated Annealing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/algorithms">Naive Bayes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/algorithms">Logistic Regression</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/algorithms">Linear Regression</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
				<ul class="nav flex-column">
                <li class="nav-item">
                  <h5 class="text-white">Python Libraries</h5>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/libraries">Pandas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/libraries">NumPy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/libraries">Matplotlib</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/libraries">Seaborn</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="/libraries">PyTorch</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>

    </ul>
    
  </div>