<h4 class="text-center">Machine Learning</h4>
<p>The idea behind machine learning is creating trainable models made out of sequential layers.
    Data is then fed through those layers and the model creates predictions from its iterative results that comes from
    changing configurations.
</p>

<ul>
    <li><strong>Supervised learning</strong>: The computer is presented with example inputs and their desired outputs,
        given by a “teacher”, and the goal is to learn a general rule that maps inputs to outputs. The training process
        continues until the model achieves the desired level of accuracy on the training data. Some real-life examples
        are:
        <ul>
            <li><strong>Image Classification: </strong>You train with images/labels. Then in the future you give a new
                image expecting that the computer will recognize the new object.</li>
            <li><strong>Market Prediction/Regression: </strong>You train the computer with historical market data and
                ask the computer to predict the new price in the future.</li>
        </ul>
    </li>
</ul>

<ul>
    <li><strong>Unsupervised learning</strong>: No labels are given to the learning algorithm, leaving it on its own to
        find structure in its input. It is used for clustering population in different groups. Unsupervised learning can
        be a goal in itself (discovering hidden patterns in data).
        <ul>
            <li><strong>Clustering:</strong> You ask the computer to separate similar data into clusters, this is
                essential in research and science.</li>
            <li><strong>High Dimension Visualization:</strong> Use the computer to help us visualize high dimension
                data.</li>
            <li><strong>Generative Models:</strong> After a model captures the probability distribution of your input
                data, it will be able to generate more data. This can be very useful to make your classifier more
                robust.</li>
        </ul>
    </li>
</ul>
<h4 class="text-center">Reinforcement Learning</h4>

    <p>Reinforcement learning is when a computer program interacts with a dynamic environment in which it
        must perform a certain goal (such as driving a vehicle or playing a game against an opponent). The program is
        provided feedback in terms of rewards and punishments as it navigates its problem space.</p>

<h4 class="text-center">Artificial Intelligence</h4>
<p>Artificial intelligence (AI) makes it possible for machines to learn from experience, adjust to new inputs and perform human-like tasks. Most AI examples that you hear about today, from chess-playing computers to self-driving cars, rely heavily on deep learning and natural language processing. Using these technologies, computers can be trained to accomplish specific tasks by processing large amounts of data and recognizing patterns in the data.</p>
<h4 class="text-center">Tensorflow</h4>
<p>TensorFlow allows developers to create dataflow graphs—structures that describe how data moves through a graph, or a series of processing nodes. Each node in the graph represents a mathematical operation, and each connection or edge between nodes is a multidimensional data array, or tensor.
    Tensorflow is backed by Google and is a machine learning framework.
    TensorFlow can train and run deep neural networks for handwritten digit classification, image recognition, word embeddings, recurrent neural networks, sequence-to-sequence models for machine translation, natural language processing, and PDE (partial differential equation) based simulations. TensorFlow supports production prediction at scale, with the same models used for training. 
    It is mainly designed to be written in Python but has underlying C++ too.
</p>
<p>The actual math operations, are not performed in Python. The libraries of transformations that are available through TensorFlow are written as high-performance C++ binaries. Python just directs traffic between the pieces, and provides high-level programming abstractions to hook them together.</p>
<h4 class="text-center">Deep Learning</h4>

<p>Deep learning is an artificial intelligence function that imitates the workings of the human brain in processing data and creating patterns for use in decision making. Deep learning is a subset of machine learning in artificial intelligence (AI) that has networks capable of learning unsupervised from data that is unstructured or unlabeled. Also known as deep neural learning or deep neural network.</p>
<p>Deep learning, a subset of machine learning, utilizes a hierarchical level of artificial neural networks to carry out the process of machine learning. The artificial neural networks are built like the human brain, with neuron nodes connected together like a web. While traditional programs build analysis with data in a linear way, the hierarchical function of deep learning systems enables machines to process data with a nonlinear approach.</p>