<h4 class="text-center">Integrated Development Environments</h4>
<p>What are IDE's? IDE's are a piece of software that assist a software developer when making changes to source code. The have assisted coding features that help to "autocomplete" class instances and variable names.
    They are text editors on steroids. They have integrated compilers that require only the push of a button to build your project and get it running. They also have integration support for frameworks that help setting up a project of a certain kind.
</p>
 <h5>Popular IDE's</h5>
<ul>
    <li>Sublime Text</li>
    <li>Eclipse</li>
    <li>Visual Studio</li>
    <li>Visual Studio Code</li>
    <li>PyCharm JetBrains</li>
</ul>

<img src="../../../assets/sublime.png" alt="Sublim Text" class="prog">
