<div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Welcome!</h1>
      <p>My name is Adam Howard. I'm going to show you a bit of what I am interested in and working on. This website serves as a portfolio of my workings to date. If you have any questions or are interested in hearing more please do not hesitate to get in contact.</p>
    </div>
</div>

<h4 class="text-center">Software Engineering, Development & Implementation
</h4>

<img src="../../../assets/se-1.jpg" alt="Software Engineering" class="soft">

<p>I studied software development for 3 and a bit years in college. I completed the first semester of my fourth year
  but not the second. My research project was in the area of AI, autonomous vehicles and computer vision. I like to know
  the applications of computer programs in real life so I can concentrate my efforts into areas I know work already. 
</p>

<p>
  The first programming language I learned was VB.net. I completed a number of projects. Including but not limited to 
  a keylogger (Yes, I know malicious is not the right road to go down.), a web browser, terribly named "Freeze" as if the only thing it would do is stall and not load.
   But it was a start. It got me into the workflow and environment which I've grown to love, embrace and nurture. 
</p>
<p>
  When I was in college we were given the challenging task of building a media player. My media player had a slider as a progressbar, a play button, pause button,
  listview to show the songs. There was also a skip song button which the user could use to cycle the songs. It supported MP3 files. We were only tasked with 
  making a media player that could load images and songs, but I went a step further. I integrated a video player into mine,
  where it could play .mp4 and other basic video file formats. The application incorporated a distributed system with Remote Method Invocation service available with Java. JavaFX was the application UI layer framework and allowed
  the binding of methods in the controller class to events in the UI classes.
</p>

<p>Now that I'm out of college now, I decided I would start my own web design business, where I would tailor front end landing pages, 
  with images, text, contact forms and other crucial information customers need to get their voice heard there in the wild world of the web. 
 
</p>

<p>
  Now, I'm here, writing this paragraph, where I would explain what my next moves are.
  I'm probably going to do some research and experimentation with Tensorflow to try and understand more about image classification and neural networks.
</p> 

<p>
  I'd like to keep improving my Web 2.0 skills in the area of TypeScript & Angular. In the past, I've done some research on React and how to create custom components.
</p>