<img src="../../../assets/js-frameworks.png" alt="" class="prog">


<h4>Angular</h4>
<p>Angular is a JavaScript framework backed by Google. It features a command line interface, for generating project files and folders, serving the app locally, adding components and much more.
    The ideology behind most JavaScript frameworks is to divide the application into components which can have seperate template, styling and JavaScript. Angular uses TypeScript, which is a superset of JavaScript.
    In each component, there is a .ts file. In this file, there are attributes, and methods. The methods typically mutate the attributes. One can link an event in the template to a function in the .ts file to link functionality.
    There is a app-routing.module.ts file which is used to link components to the router-outlet. The app.component.html applies all of the top level component declarations, including the router outlet. 
    This serves as a starting point for developing the application.

</p>

<h4>React</h4>
<h4>Vue</h4>
