<h3 class="text-center">Experience</h3>

<h4>Intel (McAfee)</h4>
<p>I've been coding since I'm 15. That's about 8 to 9 years depending on when you're reading this. My first job I landed was an internship at Intel (McAfee) as a software engineer. My tasks ranged from writing Java sanitizing applications, to experimenting with Boost. 
    I was also introduced to Perl by a colleage, which I wasn't particularly interested in. It's a bit outdated and there's more modern options now. Along with software development activities, I engaged in teamwork and Agile methodologies, where I would be a member of a meeting to try
    and discuss our current and next steps. This was the most challenging thing for me as I like to work with the computer. But, I overcame my fears and worked my way along where I would tell the others about the projects I was working on. To accomplish this, I used a task management solution called
    JIRA. JIRA is useful for taking into account current and future tasks. It provided particularly useful when I was in scrums. GitHub Enterprise was used as the version control system to manage current project files. I worked in this role for 5 months. 
</p>

<h4>Voxpro (Google)</h4>

<p>
    When I was working for Voxpro Cork, under the Google contract I was not doing software development but I learned a lot about email infrastructure theory, G Suite and how Google does technical support. I was contacting customers via phone and email, helping them with their issues. I was in the billing & admin section, where I would help people with their G Suite admin console queries. I was using Salesforce for case managment. This would bring
    in all the new cases customers had opened and give a lot of insightful information regarding their query. I worked here for 6 weeks, I decided that I was going to go back into programming and software development as some of the cases could be particularly technical. 
</p>

