<img src="../../../assets/frontback.png" alt="" class="prog">
<p>The front end is what the user sees. It is directly rendered in the web browser. It usually consists of HTML, CSS and JavaScript. The HTML file links all of the CSS and JavaScript files to the HTML template. 
    If you are using a JavaScript framework, it will divide these into componets, as mentioned. There are many useful HTML tags, like img, p, a and h. There are so much more. But these are particularly common. You must have a html tag, body and head tag. 
    The head contains all of the preloaded metadata, CSS files and JS. Also, it can link to CDN's. The CSS declares how the HTML will look. The JavaScript will declare the functionality of the HTML tags. HTML tags are just instances of classes that the web browser instanciates. 
    Think of CSS like the properties of the HTML.
</p>

<h4>Bootstrap</h4>
<p>Bootstrap is a HTML, CSS and JavaScript template library. It gives you predesigned components which you can implement in your application. It already has styling for your text, margins and padding for most divs. An amazing feature of Bootstrap is the grid system.
    The grid systems allows you to divide an area within a container, into twelve columns, which can be assigned accordingly depending on the device form factor the website is running on. 
</p>